article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 75%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: url(../public/background-mobile.png);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.body-dark {
  background: url(../public/background-mobile-dark.png), #1C1C24;
}

header {
  background: #EEEEEE;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 0 5px 0;
  border-radius: 30px 30px 0 0;
}
header img {
  display: none;
}
header ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
header ul .menu__item {
  padding: 0 12px;
  font-size: 20px;
}
header ul .menu__link {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #2b2c34;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
header ul .font-dark {
  color: white;
}
header .dakr-mode {
  background: linear-gradient(0deg, white 0%, transparent 50%);
  position: absolute;
  top: -60%;
  left: 25%;
  width: 130px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .dakr-mode article:nth-child(1) {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E45858;
}
header .dakr-mode .dark-mode__icon {
  font-size: 2rem;
  color: white;
}
header .dakr-mode .dark-mode__icon:nth-child(1) {
  display: none;
  color: white;
}
header .dark-mode-dark {
  background: linear-gradient(0deg, #1C1C24 0%, transparent 50%);
}

.presentation-card {
  padding: 60px 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 2rem 0 0 0;
}
.presentation-card .presentation-card__image {
  width: 150px;
  border-radius: 100%;
  position: absolute;
  top: 0;
}
.presentation-card .flag {
  width: 50px;
}
.presentation-card article {
  background: #E45858;
  color: white;
  padding: 100px 1rem 1rem 1rem;
  border-radius: 30px;
}
.presentation-card .presentation-card__name {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.presentation-card .presentation-card__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.presentation-card .presentation-card__social-media {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.presentation-card .social-media__link {
  font-size: 25px;
  color: white;
  margin: 0 10px;
}
.presentation-card .font-dark {
  color: white;
}
.presentation-card .background-dark {
  background: #1C1C24;
}
.presentation-card .background-item-dark {
  background: #272731;
}
.presentation-card .all-dark {
  background: #1C1C24;
  color: white;
}
.presentation-card .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.proyects__box {
  display: grid;
  grid-gap: 2rem;
  padding: 1rem 1rem 2rem 1rem;
  font-family: "Roboto", sans-serif;
}
.proyects__box .proyect {
  border-radius: 15px;
  background: #EEEEEE;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proyects__box .proyect__image {
  width: 200px;
  padding: 1rem 0;
}
.proyects__box .proyect__description__box {
  background: #E45858;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 15px 15px;
  padding: 0 0 1rem 0;
}
.proyects__box .proyect__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 1rem 0;
}
.proyects__box .proyect__description {
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 10px;
  margin: 0;
}
.proyects__box .proyect__button {
  color: white;
  font-size: 20px;
  display: inline-block;
  padding: 5px 3rem;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
}
.proyects__box .font-dark {
  color: white;
}
.proyects__box .background-dark {
  background: #1C1C24;
}
.proyects__box .background-item-dark {
  background: #272731;
}
.proyects__box .all-dark {
  background: #1C1C24;
  color: white;
}
.proyects__box .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.skills__box {
  padding: 1rem 1rem 8rem 1rem;
  display: grid;
  grid-gap: 1rem;
}
.skills__box .kill__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EEEEEE;
}
.skills__box .kill__box .kill__image {
  width: 100%;
}
.skills__box .kill__box .kill__link {
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #272731;
  margin: 1rem 0;
}
.skills__box .kill__box .font-dark {
  color: white;
}
.skills__box .font-dark {
  color: white;
}
.skills__box .background-dark {
  background: #1C1C24;
}
.skills__box .background-item-dark {
  background: #272731;
}
.skills__box .all-dark {
  background: #1C1C24;
  color: white;
}
.skills__box .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.cv {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #2b2c34;
}
.cv .cv__image {
  width: 150px;
  border-radius: 100%;
}
.cv .cv__name {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 1rem;
}
.cv .cv__profesion {
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding: 0 0 1rem 0;
}
.cv .cv__button {
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}
.cv .cv__contacts {
  padding: 1rem 0 0 0;
}
.cv .cv__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2b2c34;
}
.cv .cv__contact__icon {
  color: black;
  font-size: 25px;
}
.cv .cv__contact__description {
  font-weight: 500;
  color: #272731;
}
.cv .technologies {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.cv .technologie__image {
  width: 50px;
}
.cv .cursos {
  padding: 0 1rem 8rem 1rem;
}
.cv .curso {
  margin: 1rem 0;
}
.cv .curso__title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
}
.cv .cv__contacts__title, .cv .cv__course__title, .cv .cv__technologies__title {
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 1rem 0;
}
.cv .cv__technologies__title {
  grid-column: 1/4;
}
.cv .curso__description {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0 0 10px 0;
}
.cv .curso__certificacion, .cv .curos__certificacion {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: #2b2c34;
}
.cv .curos__edteam {
  margin: 1rem 0;
}
.cv .font-dark {
  color: white;
}
.cv .background-dark {
  background: #1C1C24;
}
.cv .background-item-dark {
  background: #272731;
}
.cv .all-dark {
  background: #1C1C24;
  color: white;
}
.cv .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.about {
  font-family: "Roboto", sans-serif;
}
.about .about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .about__item:nth-child(3) {
  padding: 0 0 8rem 0;
}
.about .font-dark {
  color: white;
}
.about .about__item__title {
  font-weight: 700;
  color: #272731;
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 1rem 0 0 0;
}
.about .about__item__description {
  padding: 1rem;
}
.about .about__item__image {
  width: 180px;
}
.about .intereses-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about .intereses__item {
  padding: 1rem 0;
}
.about .intereses__title {
  font-weight: 700;
}
.about .font-dark {
  color: white;
}
.about .background-dark {
  background: #1C1C24;
}
.about .background-item-dark {
  background: #272731;
}
.about .all-dark {
  background: #1C1C24;
  color: white;
}
.about .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.blog__box {
  padding: 1rem 1rem 8rem 1rem;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-gap: 2rem;
}
.blog__box .blog {
  background: #F1F2FD;
  border-radius: 15px;
  padding: 0 0 1rem 0;
}
.blog__box .blog .blog__image {
  width: 100%;
  height: 138px;
  border-radius: 15px 15px 0 0;
}
.blog__box .blog .blog__title {
  padding: 0 0 0 1rem;
  font-weight: 700;
  font-size: 20px;
}
.blog__box .blog .blog__description {
  padding: 0 0 0 1rem;
  font-size: 1rem;
}
.blog__box .blog .blog__button {
  background: white;
  box-shadow: 8px 8px 0 black;
  padding: 10px 50px;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  color: #2b2c34;
  font-weight: 500;
  margin: 0 0 1rem 1rem;
}
.blog__box .blog .button-blog {
  color: white;
  background: #272731;
  box-shadow: 8px 8px 0 #1C1C24;
}
.blog__box .font-dark {
  color: white;
}
.blog__box .background-dark {
  background: #1C1C24;
}
.blog__box .background-item-dark {
  background: #272731;
}
.blog__box .all-dark {
  background: #1C1C24;
  color: white;
}
.blog__box .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.font-dark {
  color: white;
}

.background-dark {
  background: #1C1C24;
}

.background-item-dark {
  background: #272731;
}

.all-dark {
  background: #1C1C24;
  color: white;
}
.all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.loader-box {
  background: rgba(0, 0, 0, 0.753);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#teabag {
  transform-origin: top center;
  transform: rotate(3deg);
  animation: swing 2s infinite;
}

#steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  animation: steamLarge 2s infinite;
}

#steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: steamSmall 2s infinite;
}

@keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@media screen and (min-width: 400px) {
  header .dakr-mode {
    left: 35%;
  }
}
@media screen and (min-width: 500px) {
  .proyects__box, .skills__box, .blog__box {
    grid-template-columns: repeat(2, 1fr);
  }

  .presentation-card .presentation-card__name {
    font-size: 35px;
  }
  .presentation-card .presentation-card__description {
    font-size: 20px;
  }
}