@import "../resources-sass/mixin";
@import "../resources-sass/normalize";
$color-one:#E45858;
$color-two:#EEEEEE;
$color-three:#1C1C24 ;
$color-four:#272731;
$color-five:rgb(43,44,52);
$font-roboto:'Roboto', sans-serif;
$font-poppins:'Poppins', sans-serif;
body{
    background:url(../public/background-mobile.png);
}
header{
    background:$color-two;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    padding:50px 0 5px 0 ;
    border-radius:30px 30px 0 0  ;
    img{
        display:none;
    }
    ul{
        margin:0;
        padding:0;
        display: flex;
        justify-content: center;
        .menu__item{
            padding:0 12px;
            font-size:20px;
        }
        .menu__link{
            text-align: center;
            display:flex;
            flex-direction: column;
            text-decoration: none;
            color:$color-five;
            font-family: $font-roboto;
            font-weight: 500;
        }
    }
    .dakr-mode{
        background:white;
        position: absolute;
        top:-60%;
        left:30%;
        width:100px;
        height:100px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        article:nth-child(1){
            width: 60px;
            height:60px;
            border-radius: 100%;
            display:flex;
            justify-content: center;
            align-items: center;
            background:$color-one;
        }
        .dark-mode__icon{
            font-size:2rem;
            color:white;
            &:nth-child(1){
                display: none;
                color:white;
            }
        }
    }
}