article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 75%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: url(../public/background-mobile.png);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.body-dark {
  background: url(../public/background-mobile-dark.png), #1C1C24;
}

header {
  background: #EEEEEE;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 0 5px 0;
  border-radius: 30px 30px 0 0;
}
header img {
  display: none;
}
header ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
header ul .menu__item {
  padding: 0 12px;
  font-size: 20px;
}
header ul .menu__link {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #2b2c34;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
header ul .font-dark {
  color: white;
}
header .dakr-mode {
  background: linear-gradient(0deg, white 0%, transparent 50%);
  position: absolute;
  top: -60%;
  left: 25%;
  width: 130px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .dakr-mode article:nth-child(1) {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E45858;
}
header .dakr-mode .dark-mode__icon {
  font-size: 2rem;
  color: white;
}
header .dakr-mode .dark-mode__icon:nth-child(1) {
  display: none;
  color: white;
}
header .dark-mode-dark {
  background: linear-gradient(0deg, #1C1C24 0%, transparent 50%);
}

.presentation-card {
  padding: 60px 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 2rem 0 0 0;
}
.presentation-card .presentation-card__image {
  width: 150px;
  border-radius: 100%;
  position: absolute;
  top: 0;
}
.presentation-card .flag {
  width: 50px;
}
.presentation-card article {
  background: #E45858;
  color: white;
  padding: 100px 1rem 1rem 1rem;
  border-radius: 30px;
}
.presentation-card .presentation-card__name {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.presentation-card .presentation-card__description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.presentation-card .presentation-card__social-media {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.presentation-card .social-media__link {
  font-size: 25px;
  color: white;
  margin: 0 10px;
}
.presentation-card .font-dark {
  color: white;
}
.presentation-card .background-dark {
  background: #1C1C24;
}
.presentation-card .background-item-dark {
  background: #272731;
}
.presentation-card .all-dark {
  background: #1C1C24;
  color: white;
}
.presentation-card .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.proyects__box {
  display: grid;
  grid-gap: 2rem;
  padding: 1rem 1rem 2rem 1rem;
  font-family: "Roboto", sans-serif;
}
.proyects__box .proyect {
  border-radius: 15px;
  background: #EEEEEE;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proyects__box .proyect__image {
  width: 200px;
  padding: 1rem 0;
}
.proyects__box .proyect__description__box {
  background: #E45858;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 15px 15px;
  padding: 0 0 1rem 0;
}
.proyects__box .proyect__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 1rem 0;
}
.proyects__box .proyect__description {
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 10px;
  margin: 0;
}
.proyects__box .proyect__button {
  color: white;
  font-size: 20px;
  display: inline-block;
  padding: 5px 3rem;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
}
.proyects__box .font-dark {
  color: white;
}
.proyects__box .background-dark {
  background: #1C1C24;
}
.proyects__box .background-item-dark {
  background: #272731;
}
.proyects__box .all-dark {
  background: #1C1C24;
  color: white;
}
.proyects__box .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.skills__box {
  padding: 1rem 1rem 8rem 1rem;
  display: grid;
  grid-gap: 1rem;
}
.skills__box .kill__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EEEEEE;
}
.skills__box .kill__box .kill__image {
  width: 100%;
}
.skills__box .kill__box .kill__link {
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #272731;
  margin: 1rem 0;
}
.skills__box .kill__box .font-dark {
  color: white;
}
.skills__box .font-dark {
  color: white;
}
.skills__box .background-dark {
  background: #1C1C24;
}
.skills__box .background-item-dark {
  background: #272731;
}
.skills__box .all-dark {
  background: #1C1C24;
  color: white;
}
.skills__box .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.cv {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #2b2c34;
}
.cv .cv__image {
  width: 150px;
  border-radius: 100%;
}
.cv .cv__name {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 1rem;
}
.cv .cv__profesion {
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding: 0 0 1rem 0;
}
.cv .cv__button {
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}
.cv .cv__contacts {
  padding: 1rem 0 0 0;
}
.cv .cv__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2b2c34;
}
.cv .cv__contact__icon {
  color: black;
  font-size: 25px;
}
.cv .cv__contact__description {
  font-weight: 500;
  color: #272731;
}
.cv .technologies {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.cv .technologie__image {
  width: 50px;
}
.cv .cursos {
  padding: 0 1rem 8rem 1rem;
}
.cv .curso {
  margin: 1rem 0;
}
.cv .curso__title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
}
.cv .cv__contacts__title, .cv .cv__course__title, .cv .cv__technologies__title {
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 1rem 0;
}
.cv .cv__technologies__title {
  grid-column: 1/4;
}
.cv .curso__description {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0 0 10px 0;
}
.cv .curso__certificacion, .cv .curos__certificacion {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: #2b2c34;
}
.cv .curos__edteam {
  margin: 1rem 0;
}
.cv .font-dark {
  color: white;
}
.cv .background-dark {
  background: #1C1C24;
}
.cv .background-item-dark {
  background: #272731;
}
.cv .all-dark {
  background: #1C1C24;
  color: white;
}
.cv .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.about {
  font-family: "Roboto", sans-serif;
}
.about .about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .about__item:nth-child(3) {
  padding: 0 0 8rem 0;
}
.about .font-dark {
  color: white;
}
.about .about__item__title {
  font-weight: 700;
  color: #272731;
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 1rem 0 0 0;
}
.about .about__item__description {
  padding: 1rem;
}
.about .about__item__image {
  width: 180px;
}
.about .intereses-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about .intereses__item {
  padding: 1rem 0;
}
.about .intereses__title {
  font-weight: 700;
}
.about .font-dark {
  color: white;
}
.about .background-dark {
  background: #1C1C24;
}
.about .background-item-dark {
  background: #272731;
}
.about .all-dark {
  background: #1C1C24;
  color: white;
}
.about .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.blog__box {
  padding: 1rem 1rem 8rem 1rem;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-gap: 2rem;
}
.blog__box .blog {
  background: #F1F2FD;
  border-radius: 15px;
  padding: 0 0 1rem 0;
}
.blog__box .blog .blog__image {
  width: 100%;
  height: 138px;
  border-radius: 15px 15px 0 0;
}
.blog__box .blog .blog__title {
  padding: 0 0 0 1rem;
  font-weight: 700;
  font-size: 20px;
}
.blog__box .blog .blog__description {
  padding: 0 0 0 1rem;
  font-size: 1rem;
}
.blog__box .blog .blog__button {
  background: white;
  box-shadow: 8px 8px 0 black;
  padding: 10px 50px;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  color: #2b2c34;
  font-weight: 500;
  margin: 0 0 1rem 1rem;
}
.blog__box .blog .button-blog {
  color: white;
  background: #272731;
  box-shadow: 8px 8px 0 #1C1C24;
}
.blog__box .font-dark {
  color: white;
}
.blog__box .background-dark {
  background: #1C1C24;
}
.blog__box .background-item-dark {
  background: #272731;
}
.blog__box .all-dark {
  background: #1C1C24;
  color: white;
}
.blog__box .all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.font-dark {
  color: white;
}

.background-dark {
  background: #1C1C24;
}

.background-item-dark {
  background: #272731;
}

.all-dark {
  background: #1C1C24;
  color: white;
}
.all-dark .all-dark-item {
  background: #272731;
  color: white;
}

.loader-box {
  background: rgba(0, 0, 0, 0.753);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#teabag {
  transform-origin: top center;
  transform: rotate(3deg);
  animation: swing 2s infinite;
}

#steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  animation: steamLarge 2s infinite;
}

#steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: steamSmall 2s infinite;
}

@keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@media screen and (min-width: 400px) {
  header .dakr-mode {
    left: 35%;
  }
}
@media screen and (min-width: 500px) {
  .proyects__box, .skills__box, .blog__box {
    grid-template-columns: repeat(2, 1fr);
  }

  .presentation-card .presentation-card__name {
    font-size: 35px;
  }
  .presentation-card .presentation-card__description {
    font-size: 20px;
  }
}
@media screen and (min-width: 1000px) {
  header {
    position: static;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0;
  }
  header .dakr-mode {
    position: relative;
    background: #E45858;
    width: 100px;
    height: 45px;
    border-radius: 30px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
  header .dakr-mode article:nth-child(1) {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    border-radius: 30px;
  }
  header .dakr-mode .dark-mode__icon:nth-child(1) {
    display: inline-block;
  }
  header .dakr-mode .dark-mode__circle {
    background: #F1F2FD;
    height: 100%;
    width: 45px;
    position: absolute;
    border-radius: 100%;
    left: 0;
  }
  header .dakr-mode .dark-mode__circle__active {
    right: 0;
    left: auto;
  }
  header img {
    display: block;
    width: 80px;
  }
  header ul .menu__link {
    flex-direction: row;
    font-size: 25px;
  }
  header ul .menu__icon {
    margin: 0 10px 0 0;
  }

  .skills__box {
    padding: 0 1rem 2rem 1rem;
  }

  .proyects__box, .skills__box {
    grid-template-columns: repeat(3, 1fr);
  }

  .presentation-card {
    padding: 0 0 0 5rem;
  }
  .presentation-card .presentation-card__image {
    top: 15%;
    right: 70%;
    width: 180px;
  }
  .presentation-card article {
    padding: 2rem 1rem 2rem 10rem;
  }
  .presentation-card article .flag {
    width: 80px;
  }

  .blog__box {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
  }

  .about {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about .about__item {
    display: grid;
    grid-template-columns: 400px 220px;
    grid-gap: 1rem;
  }
  .about .about__item .about__item__description {
    grid-column: 1/2;
  }
  .about .about__item .about__item__image {
    grid-row: 1/3;
    grid-column: 2/3;
    width: 220px;
  }
  .about .about__item:nth-child(3) {
    padding: 0 0 1rem 0;
  }

  .cv .cv__contacts__title, .cv .cv__technologies__title, .cv .cv__course__title {
    font-size: 2rem;
  }
  .cv .cv__contacts .cv__contact__description {
    font-size: 20px;
  }
  .cv .technologies {
    grid-template-columns: repeat(4, 1fr);
  }
  .cv .technologies .cv__technologies__title {
    grid-column: 1/5;
  }
  .cv .cursos {
    padding-bottom: 2rem;
  }
  .cv .cursos .curso__title {
    font-size: 25px;
  }
  .cv .cursos .curso__description {
    font-size: 20px;
  }
  .cv .cursos .curso__certificacion, .cv .cursos .curos__certificacion {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1080px) {
  .blog__box {
    grid-template-columns: repeat(4, 1fr);
  }

  .presentation-card .presentation-card__image {
    right: 70%;
  }
}
@media screen and (min-width: 1300px) {
  .blog__box {
    grid-template-columns: repeat(5, 1fr);
  }

  .proyects__box {
    grid-template-columns: repeat(4, 1fr);
  }

  .skills__box {
    grid-template-columns: repeat(4, 1fr);
  }

  .presentation-card .presentation-card__image {
    right: 65%;
  }
}
.menu-skill-menu {
  position: fixed;
  bottom: 20px;
  padding: 30px;
  left: 2rem;
  background: #e8e8f3;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
}
.menu-skill-menu::before, .menu-skill-menu::after {
  content: "";
  background: #c3c2c7;
  border-radius: 5px;
  width: 30px;
  height: 5px;
  position: absolute;
  left: 16px;
  top: 27px;
  transition: 0.2s ease;
  z-index: 1;
}
.menu-skill-menu::before {
  transform: rotate(0deg);
}
.menu-skill-menu::after {
  transform: rotate(-90deg);
}
.menu-skill-menu.open {
  opacity: 0.9;
}
.menu-skill-menu.open::before {
  transform: rotate(45deg);
}
.menu-skill-menu.open::after {
  transform: rotate(-45deg);
}
.menu-skill-menu.open .button-skill {
  opacity: 1;
  pointer-events: auto;
}
.menu-skill-menu.open .button-skill:first-of-type {
  bottom: 80px;
}
.menu-skill-menu.open .button-skill:nth-of-type(2) {
  bottom: 40px;
  right: 70px;
  transition-delay: 0.05s;
}
.menu-skill-menu.open .button-skill:last-of-type {
  bottom: 40px;
  right: -70px;
  transition-delay: 0.1s;
}

.button-skill {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  background: #e8e8f3;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  box-shadow: inherit;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.button-skill:hover {
  transform: scale(1.1);
}

.icon-menu-skill {
  color: black;
  text-decoration: none;
  font-size: 32px;
}

.frontmentor-icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.hunddle__header {
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  padding: 1rem 0 0 0;
  align-items: center;
}
.hunddle__header .hunddle__image {
  width: 45%;
}
.hunddle__header .hunddle__header__button {
  background: transparent;
  color: #ff52bf;
  border: 2px solid #ff52bf;
  border-radius: 20px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
}

.hunddle__welcome {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.hunddle__welcome .welcome__title {
  color: #00252e;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.hunddle__welcome .welcome__description__box {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hunddle__welcome .welcome__image {
  width: 80%;
}
.hunddle__welcome .welcome__description {
  text-align: center;
}
.hunddle__welcome .welcome__button {
  background: #ff52bf;
  color: #f5faff;
  border-radius: 20px;
  padding: 1rem;
  border: none;
}
.hunddle__welcome .welcome__button:hover {
  background: #ff8fd8;
}

.hunddle__followers {
  display: flex;
  justify-content: center;
  display: grid;
  padding: 1rem 0;
  grid-gap: 2rem;
}
.hunddle__followers .followers__follow .followers__follow__number {
  color: #00252e;
  font-size: 50px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
}
.hunddle__followers .followers__follow .follower__follow__description {
  color: #c4c4c4;
  margin: 0;
}

.hunddle__grid {
  display: grid;
  grid-gap: 2rem;
  padding: 3rem 1rem 0 1rem;
}
.hunddle__grid .grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hunddle__grid .grid__item .grid__item__image {
  width: 50%;
}
.hunddle__grid .grid__item .grid__item__title {
  color: #00252e;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.hunddle__grid .grid__item .grid__item__description {
  text-align: center;
}

.hunddle__build {
  font-family: "Poppins", sans-serif;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hunddle__build .build__title {
  font-size: 25px;
  color: #00252e;
  font-weight: 700;
  text-align: center;
}
.hunddle__build .build__button {
  background: #ff52bf;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 2rem;
  font-weight: 500;
}
.hunddle__build .build__button:hover {
  background: #ff8fd8;
}

.hunddle__footer {
  background: #00252e;
}
.hunddle__footer div:nth-child(1) svg {
  background: white;
}
.hunddle__footer .footer__formuario {
  color: white;
  padding: 0 1rem;
}
.hunddle__footer .footer__formuario .footer__title {
  font-weight: 500;
  font-size: 25px;
}
.hunddle__footer .footer__formuario .henddle-input-mail {
  border: none;
  height: 40px;
  border-radius: 10px;
  outline: none;
}
.hunddle__footer .footer__formuario .henddle-button-mail {
  background: #ff52bf;
  border: none;
  padding: 10px 2rem;
  font-size: 25px;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  margin: 1rem 0 0 0;
}
.hunddle__footer .footer__contact {
  padding: 1rem;
  color: white;
}
.hunddle__footer .social__media__icon {
  margin: 0 5px;
  font-size: 25px;
}

@media screen and (min-width: 800px) {
  .hunddle__box .hunddle__image {
    width: 30%;
  }

  .hunddle__welcome .welcome__description__box .welcome__title {
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  .hunddle__welcome .welcome__image {
    width: 40%;
  }

  .hunddle__followers {
    grid-template-columns: repeat(2, 250px);
  }

  .hunddle__grid .grid__item .grid__item__image {
    width: 300px;
  }
  .hunddle__grid .grid__item .grid__item__title, .hunddle__grid .grid__item .grid__item__description {
    text-align: start;
  }
  .hunddle__grid .grid__item .grid__item__title {
    font-size: 30px;
  }
  .hunddle__grid .grid__item .grid__item__description {
    font-size: 18px;
  }
  .hunddle__grid .grid__offset__left {
    display: grid;
    grid-template-columns: 1fr 300px;
  }
  .hunddle__grid .grid__offset__left .grid__item__image {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .hunddle__grid .grid__offset__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hunddle__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hunddle__footer div {
    grid-column: 1/3;
  }
  .hunddle__footer .footer__formuario {
    grid-column: 2/3;
  }
  .hunddle__footer .footer__formuario .footer__form__hunddle {
    display: flex;
    align-items: center;
  }
  .hunddle__footer .footer__formuario .henddle-button-mail {
    margin: 0;
    height: 42px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  .hunddle__footer .footer__contact {
    grid-row: 2/3;
  }
}
@media screen and (min-width: 1100px) {
  .hunddle__grid .grid__offset__left {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 400px 300px;
  }
  .hunddle__grid .grid__offset__right {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 400px 300px;
  }
}
.fylo__header {
  padding: 1rem 0 0 0;
}

.fylo .fylo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  background: white;
}
.fylo .fylo__header img {
  display: block;
  width: 30%;
}
.fylo .fylo__header .fylo__menu .fylo__menu__item {
  padding: 0 5px;
}
.fylo .fylo__header .fylo__menu .fylo__menu__link {
  color: #070439;
  font-size: 1rem;
  text-decoration: none;
}

.fylo__files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0 0;
}
.fylo__files .fylo__files__image {
  width: 50%;
}
.fylo__files .fylo__files__description {
  font-size: 20px;
  color: #070439;
  padding: 0 1rem;
  text-align: center;
  font-weight: 700;
  line-height: 26px;
}
.fylo__files .fylo__files__description__description {
  text-align: center;
  padding: 0 1rem;
  color: #070439;
}
.fylo__files form {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.fylo__files form input {
  margin: 10px 0;
  border: 2px solid #bfbfbf;
  border-radius: 5px;
  height: 30px;
  padding: 0 0 0 1rem;
}
.fylo__files form input::placeholder {
  color: #eee;
}
.fylo__files form button {
  background: #3065f8;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: 500;
}

.fylo__stay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 0 0;
}
.fylo__stay img {
  width: 50%;
}
.fylo__stay .fylo__stay__description__box {
  padding: 0 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fylo__stay .fylo__stay__description__box .fylo__stay__description__title {
  color: #070439;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
.fylo__stay .fylo__stay__description__box .fylo__stay__description__description {
  color: #bfbfbf;
}
.fylo__stay .fylo__stay__description__box a {
  color: #3c9f8f;
  border-bottom: 1px solid #3c9f8f;
  padding: 0 0 10px 0;
  display: inline-block;
  margin: 0 0 10px 0;
  text-decoration: none;
}
.fylo__stay .fylo__stay__user {
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
  border-radius: 5px;
}
.fylo__stay .fylo__stay__user img {
  width: 20px;
}
.fylo__stay .fylo__stay__user .fylo__stay__user__description {
  color: #070439;
}
.fylo__stay .fylo__stay__user .fylo__stay__user__info {
  display: flex;
  align-items: center;
}
.fylo__stay .fylo__stay__user .fylo__stay__user__info .fylo__stay__user__info__image {
  border-radius: 100%;
  width: 85px;
  height: 55px;
}
.fylo__stay .fylo__stay__user .fylo__stay__user__info .fylo__stay__user__infor__personal {
  padding: 0 1rem;
}
.fylo__stay .fylo__stay__user .fylo__stay__user__info .fylo__stay__user__name {
  font-weight: 700;
  color: #070439;
}
.fylo__stay .fylo__stay__user .fylo__stay__user__info .fylo__stay__user__profesion {
  color: #bfbfbf;
}

.fylo__get {
  background: #585989;
  color: white;
  padding: 2rem 0;
}
.fylo__get .fylo__get__title {
  font-size: 20px;
  text-align: center;
}
.fylo__get .fylo__get__description {
  text-align: center;
}
.fylo__get form {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.fylo__get form input {
  margin: 10px 0;
  border: 2px solid #bfbfbf;
  border-radius: 5px;
  height: 30px;
  padding: 0 0 0 1rem;
}
.fylo__get form input::placeholder {
  color: #eee;
}
.fylo__get form button {
  background: #3065f8;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: 500;
}

.fylo__footer {
  background: #070439;
  padding: 1rem 0 0 0;
  color: white;
  margin: 0;
  padding: 1rem 1rem 0 1rem;
}
.fylo__footer ul {
  padding: 0;
  margin: 0;
  color: white;
  list-style: none;
}
.fylo__footer ul li {
  padding: 10px 0;
  margin: 0;
}
.fylo__footer ul .fylo__footer__links:nth-child(2) {
  padding: 1rem 0 0 0;
}
.fylo__footer ul a {
  color: white;
  text-decoration: none;
}
.fylo__footer ul .fylo__footer__social {
  display: flex;
  justify-content: center;
}
.fylo__footer ul .fylo__footer__social__icon {
  font-size: 2rem;
  margin: 0 1rem;
}

@media screen and (min-width: 1000px) {
  .fylo .fylo__header {
    padding: 1rem 1rem 0 1rem;
  }
  .fylo .fylo__header img {
    width: 20%;
  }
  .fylo .fylo__header .fylo__menu .fylo__menu__item {
    padding: 0 1rem;
  }
  .fylo .fylo__header .fylo__menu .fylo__menu__link {
    font-size: 20px;
  }

  .fylo__files {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .fylo__files .fylo__files__image {
    width: 100%;
  }
  .fylo__files .fylo__files__description__box {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .fylo__files .fylo__files__description__box p {
    text-align: start;
  }
  .fylo__files .fylo__files__description__box .form-fylo {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .fylo__files .fylo__files__description__box .form-fylo button {
    padding: 10px 3rem;
  }

  .fylo__stay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .fylo__stay img {
    width: 100%;
  }
  .fylo__stay .fylo__stay__description__box {
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: flex-start;
    justify-content: center;
  }
  .fylo__stay .fylo__stay__description__box p {
    text-align: start;
  }
  .fylo__stay .fylo__stay__description__box .fylo__stay__description__title {
    font-size: 25px;
  }
  .fylo__stay .fylo__stay__description__box .fylo__stay__user .fylo__stay__user__info__image {
    height: 80px;
  }
  .fylo__stay .fylo__stay__user {
    width: 300px;
  }

  .fylo__get {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    column-gap: 2rem;
  }
  .fylo__get .fylo__form__get {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: center;
    align-items: flex-start;
  }
  .fylo__get .fylo__form__get input {
    width: 100%;
  }
  .fylo__get .fylo__form__get button {
    padding: 10px 3rem;
  }
  .fylo__get .fylo__get__title, .fylo__get .fylo__get__description {
    text-align: start;
  }
  .fylo__get .fylo__get__title {
    margin: 0;
    padding: 1rem 0;
    font-size: 25px;
    font-weight: 700;
  }

  .fylo__footer {
    padding: 2rem 1rem 0 1rem;
  }

  .fylo__footer__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .fylo__footer__menu .fylo__footer__menu__item:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.fylo-dark__header {
  background: #181f2a;
  position: static;
  padding: 0;
  border-radius: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}
.fylo-dark__header img {
  display: block;
  margin: 0;
  width: 25%;
}
.fylo-dark__header .menu__item {
  padding: 0 5px;
}
.fylo-dark__header .menu__link {
  font-size: 1rem;
  color: white;
}

.fylo-dark__files {
  background: #181f2a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;
}
.fylo-dark__files img {
  width: 70%;
}
.fylo-dark__files .fylo-dark__files__title {
  font-weight: 700;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}
.fylo-dark__files .fylo-dark__files__description {
  text-align: center;
  line-height: 25px;
}
.fylo-dark__files .fylo-dark__files__description-box {
  display: flex;
  flex-direction: column;
}
.fylo-dark__files .fylo-dark__files__button {
  padding: 10px 2rem;
  background: #65e2d9;
  border: none;
  color: white;
  border-radius: 20px;
  font-weight: 500;
}

.fylo-dark__benefits {
  background: #181f2a;
  display: grid;
  grid-gap: 2rem;
  padding: 2rem 0 0 0;
}
.fylo-dark__benefits .fylo-dark__benefitie {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.fylo-dark__benefits .fylo-dark__benefitie__title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 1rem 0 0 0;
}
.fylo-dark__benefits .fylo-dark__benefitie__description {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}

.fylo-dark__productives {
  background: #181f2a;
  padding: 1rem 0 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fylo-dark__productives .fylo-dark__productive__image {
  width: 50%;
}
.fylo-dark__productives .fylo-dark__productive__description-box {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: flex-start;
}
.fylo-dark__productives .fylo-dark__productive__title {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
}
.fylo-dark__productives .fylo-dark__productive__see {
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  padding: 0 0 5px 0;
  text-decoration: none;
}

.fylo-dark__coments {
  padding: 4rem 1rem 1rem 1rem;
  color: white;
  display: grid;
  grid-gap: 2rem;
  background: url(../public/resources-skills/fylo-dark/bg-quotes.png), #181f2a;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}
.fylo-dark__coments .fylo-dark__comment__user {
  border-radius: 5px;
  background: #202a3c;
  padding: 1rem;
}
.fylo-dark__coments .fylo-dark__comment__user__image {
  width: 80px;
  height: 60px;
  border-radius: 100%;
}
.fylo-dark__coments .fylo-dark__comment__user__info {
  display: flex;
  align-items: center;
}
.fylo-dark__coments .fylo-dark__comment__user__data {
  padding: 0 0 0 1rem;
}
.fylo-dark__coments .fylo-dark__comment__text {
  line-height: 26px;
}
.fylo-dark__coments .fylo-dark__comment__user__profession {
  color: #eee;
}

.fylo-dark__footer {
  background: #181f2a;
  position: relative;
  padding: 9rem 0 0 0;
  color: white;
}
.fylo-dark__footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fylo-dark__footer form {
  display: flex;
  flex-direction: column;
  color: white;
}
.fylo-dark__footer form input {
  border-radius: 20px;
  border: none;
  height: 30px;
  outline: none;
  padding: 0 0 0 10px;
}
.fylo-dark__footer form button {
  padding: 10px 0;
  margin: 1rem 0 0 0;
  background: #65e2d9;
  border: none;
  color: white;
  border-radius: 20px;
}

.fylo-dark__footer__contact__title {
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

.fylo-dark__footer__contact__description {
  text-align: center;
  line-height: 25px;
}

.fylo-dark__footer__contact {
  background: #202a3c;
  color: white;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
}

.fylo-dark__footer__info__box {
  background: #0b1523;
  padding: 15rem 1rem 1rem 1rem;
}

.fylo-dark__footer__info__item__contact__item__icon {
  margin: 0 1rem 0 0;
}

.fylo-dark__footer__info__item__contact__item {
  display: flex;
}

.fylo-dark__footer__info li {
  padding: 1rem 0;
}

.fylo-dark__footer__info__social__item i {
  border: 1px solid white;
  padding: 10px;
  font-size: 25px;
  border-radius: 100%;
}

.fylo-dark__footer__info__social {
  display: flex;
  justify-content: center;
}
.fylo-dark__footer__info__social li {
  padding: 0 1rem;
}

@media screen and (min-width: 500px) {
  .fylo-dark__files__description-box {
    align-items: center;
  }
  .fylo-dark__files__description-box .fylo-dark__files__button {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .fylo-dark__benefits {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .fylo-dark__coments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .fylo-dark__footer__contact form {
    align-items: center;
  }
  .fylo-dark__footer__contact form input, .fylo-dark__footer__contact form button {
    width: 280px;
  }
}
@media screen and (min-width: 1000px) {
  .fylo-dark__productives {
    display: flex;
    flex-direction: row;
  }

  .fylo-dark__coments {
    grid-template-columns: repeat(3, 1fr);
  }

  .fylo-dark__footer__contact {
    left: 2rem;
    right: 2rem;
  }
  .fylo-dark__footer__contact .fylo-dark__footer__contact__title {
    font-size: 25px;
  }
  .fylo-dark__footer__contact form {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .fylo-dark__footer__contact form input {
    height: 38px;
  }
  .fylo-dark__footer__contact form button {
    margin: 0 0 0 1rem;
  }

  .fylo-dark__footer__info__box {
    padding: 7rem 0 0 0;
  }
  .fylo-dark__footer__info__box .fylo-dark__footer__info {
    display: flex;
    justify-content: space-around;
  }
  .fylo-dark__footer__info__box .fylo-dark__footer__info__item:nth-child(2) {
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .fylo-dark__footer__info__box .fylo-dark__footer__info__item__contact {
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }
  .fylo-dark__footer__info__box .fylo-dark__footer__info__item__contact .fylo-dark__footer__info__item__contact__item:nth-child(3) {
    grid-column: 2/3;
  }
  .fylo-dark__footer__info__box .fylo-dark__footer__info__item__contact .fylo-dark__footer__info__item__contact__item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .fylo-dark__files img {
    width: 30%;
  }
}