@mixin card-disable {
    .card__title{
        color:#7d7d7d;
    }
    .card__description{
        color: #7d7d7d65;
    }
    .card-number{
        color: #7d7d7d5e;
    }
    .number-direction__desable{
        color: #7d7d7d5e;
    }
}