// ========== Light Theme Colors =========
$color-light-one:#eee;
$color-light-two:#c4c4c4;
$color-light-three:#7d7d7d;
// ========== Dark Theme Colors =========
$color-dark-one:#5F5F6E;
$color-dark-two:#1c1c24;
$color-dark-three:#131419; 