@import "../resources-sass/mixin";
@import "../resources-sass/normalize";
@import "../resources-sass/variables";
:root{
    --color-gradient:linear-gradient(to top, #141e30, #243b55);
    --color-three:#596d86;
    --color-four:#ee9f17;
    --color-five:#3cb7ca;
    --color-six:#8651e5;
    --color-seven:#df3052;
    --color-eight:#4564f4;
    --color-nine:#7d89ce;
    --color-ten:#525161;
}
body{
    background:var(--color-gradient);
    font-family:'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size:100%;
    height: 100vh;
    padding:0 20px;
}
header{
    border:2px solid var(--color-three);
    margin:1rem 0 0  0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 2rem;
    border-radius: 10px;
    nav{
        .game{
            list-style: none;
            padding:0;
            margin:0;
            .game__item{
                .game__item__logo{
                    width: 100%;
                }
            }
        }
    }
    .score{
        background-color:white;
        border-radius:10px;
        padding:20px 1rem;
        .score__title{
            font-size:20px;
            margin:0;
            color:var(--color-nine);
            font-weight: 700;
            padding:0 0 1rem 0;
        }
        .score__number{
            font-size:2rem;
            font-weight: 700;
            text-align:center;
            margin:0;
            color:var(--color-ten);
        }
    }
}
main{
    display:flex;
    justify-content: center;
    .items__options{
        background-image:url(../resources/images/big-bang-images/bg-pentagon.svg);
        background-repeat:no-repeat ;
        background-size:100%;
        background-position: center center;
        width: 250px;
        height: 50vh;
        padding:1rem 0 ;
        position: relative;
        padding:0 0 4rem 0;
        .item__option{
            background-color:white;
            height: 70px;
            width: 70px;
            display:flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .item__option__image{
                width: 40px;
            }
            &:nth-child(1){
                border: 10px solid var(--color-four);
                border-radius: 100%;
                position: absolute;
                left:35%;
                top:0;
            }
            &:nth-child(2){
                border: 10px solid var(--color-eight);
                border-radius: 100%;
                position: absolute;
                right:0;
                top:30%;
            }
            &:nth-child(3){
                border: 10px solid var(--color-five);
                border-radius: 100%;
                position: absolute;
                left:0;
                top:30%;
            }
            &:nth-child(4){
                border: 10px solid var(--color-six);
                border-radius: 100%;
                position: absolute;
                left:0;
                top:65%;
            }
            &:nth-child(5){
                border: 10px solid var(--color-seven);
                border-radius: 100%;
                position: absolute;
                right:0;
                top:65%;
            }
            
        }
    }
    .validations__options{
        display:none;
    }
    .validations__options__box{
        display:none;
    }
    .win{
        display:none;
    }
}
.rules{
    display:flex;
    justify-content: center;
    padding:0 0 0 0;
    .rules__button{
        border:2px solid var(--color-three);
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius:10px;
        cursor: pointer;
        .rules__button__text{
            text-align: center;
            color:white;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
    }
    .rules__images__box{
        display:none;
    }
    .rules__images__box__enabled{
        background-color:white;
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding:0 1rem;
        .rules__image{
            width: 100%;
        }
        .rules__image__closed{
            position: absolute;
            bottom:2rem;
        }
    }
}