@import "../resources-sass/normalize";
:root{
    --color-one:#24242c;
    --color-two:#3a3d5c;
    --color-three:#2a4860;
    --color-four:#ff4b5a;
}
body{
    font-family:roboto;
}
.header{
    background:url(../resources/images/blogr/bg-pattern-intro.svg),var(--color-four);
    background-size:100% ;
    position: relative;
    height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius:100px;
    .header__logo{
        position: absolute;
        top:1rem;
        left:1rem;
    }
    .hambuguer-icon{
        position: absolute;
        right: 1rem;
        top:1rem;
        color:white;
        font-size:25px;
    }
    .nav__enabled{
        display:block;
    }
    .nav{
        overflow: scroll;
        background-color:white;
        padding:0 1rem;
        position: fixed;
        top:5rem;
        left:1rem;
        right: 1rem;
        box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.5);
        display:none;
        .menu{
            padding:0 0 2rem 0;
            margin:0;
            list-style: none;
            display:flex;
            flex-direction: column;
            align-items: center;
            border-bottom:2px solid #eee;
            .menu__item{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                position: relative;
                padding:20px 0 0 0;
            }
            .menu__icon{
                color: var(--color-four);
                font-size:18px;
                margin:0 1rem;
            }
            .menu__link{
                text-decoration: none;
                color:var(--color-three);
                font-weight: 500;
                &:hover{
                    text-decoration: underline;
                }
            }
            .menu__contact{
                display:none;
            }
            .menu__contact__enabled{
                list-style: none;
                padding:0;
                margin:1rem 0 1rem 0;
                display: block;
                width: 100%;
                border-radius:10px;
                background-color:#eee;
                .sub__menu__item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    padding:1rem 0 ;
                }
                .sub__menu__link{
                    text-decoration: none;
                    color:var(--color-three);
    
                }
            }
           
        }
        .buttons__session{
            display:flex;
            flex-direction: column;
            align-items: center;
            .button__session{
                width: 150px;
                height: 45px;
                border-radius: 25px;
                border:none;
                margin:0px 0;
                font-weight: 500;
            }
            #button-session-login{
                background-color:transparent;
                color:var(--color-three);
                margin-top:1rem;
            }
            #button-session-sign{
                background: linear-gradient(to right,#fc6767, #f05053);
                color:white;
                margin:0 0 2rem 0;
            }
        }
    }
    .header__title{
        color:white;
        text-align: center;
        font-size:27px;
        font-weight: 500;
        padding:0 1rem;
    }
    .header__description{
        color:white;
        text-align: center;
        font-size:1rem;
        font-weight: 400;
        padding:0 1rem;
    }
    .buttons{
        display:flex;
        justify-content: space-around;
        .buttons__button{
            width: 125px;
            border:none;
            border-radius:25px;
            height: 45px;
        }
        #buttons-button-start-free{
            background-color:white;
            color:var(--color-four);
            font-weight: 700;
        }
        #buttons-button-learn{
            background-color:transparent;
            color:white;
            font-weight: 700;
            border: 2px solid white;
        }
    }
}
.main{
    .main__title{
        color:var(--color-three);
        text-align: center;
    }
    .designed{
        .designed__image{
            width: 100%;
        }
        .designed__text__card__title{
            color:var(--color-three);
            font-weight: 500;
            font-size:25px;
            text-align: center;
        }
        .design__text__card__description{
            color:#c4c4c4;
            font-weight: 400;
            font-size:1rem;
            text-align: center;
            padding:0 10px ;
        }
    }
}
.state{
    background-color:var(--color-two);
    position: relative;
    padding:11rem 0 30px 0;
    margin:7rem 0;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    .state__image{
        width: 100%;
        background:url(../resources/images/blogr/bg-pattern-circles.svg);
        background-size: 100%;
        top:-17%;
        position: absolute;
    }
    .state__text__title{
        color:white;
        font-size:27px;
        text-align: center;
        font-weight: 500;
    }
    .state__text__description{
        color:#c4c4c4;
        font-size:1rem;
        text-align: center;
        font-weight: 400;
        padding:0 1rem;
    }
}
.laptop{
    .laptop__image{
        width: 100%;
    }
}
