@import "../resources-sass/mixin";
@import "../resources-sass/normalize";
@import "../resources-sass/variables";
:root{
    --color-one:#edf2f8;
    --color-two:#6d7e94;
    --color-three:#545b64;
    --color-four:#4d525c;
    --color-five:#49556b;
}
body{
    background-color:var(--color-one);
    font-family:'Roboto', sans-serif;
}
.card{
    padding:1rem;
    display:flex;
    justify-content: center;
    align-items:center;
    .article{
        background-color:white;
        border-radius:0 0 10px 10px ;
        padding:0 0 1rem 0;
        .article__image{
            width: 100%;
            border-radius:10px 10px 0 0;
        }
        .article__body{
            .article__body__title{
                color:var(--color-five);
                font-weight: 500;
                padding:0 1rem;
                line-height:20px ;
            }
            .article__body__description{
                color:var(--color-five);
                font-weight: 400;
                padding:0 1rem;
                line-height:25px ;
            }
        }
        .article__user{
            border-radius:0 0 10px 10px;
            display:flex;
            align-items: center;
            display:grid;
            grid-template-columns: 55px 1fr 30px;
            padding:0 10px;
            position: relative;
            .article__user__image{
                width: 3.4375rem;
                border-radius: 100%;
            }
            .article__user__data{
                padding:0 0.625rem ;
                .article__user__data__name{
                    color:var(--color-five);
                    font-weight: 700;
                    margin:0;
                    font-size:15px;
                }
                .article__user__data__age{
                    color:#7d7d7d;
                    font-weight: 400;
                    margin:0;
                    font-size:15px;
                }
            }
            .article__user__share{
                .article__user__share__icon__share{
                    background: #c4c4c4;
                    color:var(--color-five);
                    width: 30px;
                    height: 30px;
                    border-radius:100%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
                .article__user__share__section{
                    display:none;
                }
                .article__user__share__section__enabled{
                    background-color:var(--color-five);
                    display:flex;
                    align-items: center;
                    justify-content:space-between ;
                    padding:0 1rem;
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    border-radius:0 0 10px 10px ;
                    .article__user__share__section__title{
                        color:var(--color-two);
                        text-transform: uppercase;
                        letter-spacing:5px;
                    }
                    .article__user__share__section__social-media{
                        margin:0;
                        padding:0;
                        list-style: none;
                        display:flex;
                        .aticle__user__share__section__social-media__item{
                            padding:0 0.5rem;
                        }
                    }
                    .article__user__share__section__social-media__icon__share{
                        background-color:var(--color-two);
                        color:white;
                        width:30px;
                        height:30px;
                        border-radius:100%;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        cursor:pointer;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:600px){
    .card{
        display:flex;
        height: 100vh;
        padding:0 2rem;
        align-items:center;
        .article{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            border-radius:10px;
            padding:0;
            .article__image{
                grid-row:1/3;
                height: 100%;
                border-radius:10px 0 0 10px ;
            }
            .article__body{
                border-radius:0 10px 0 0 ;
            }
            .article__user{
                border-radius:0 0 10px 0 ;
                grid-column:2/3;
                .article__user__share__enabled{
                    .article__user__share__section{
                        border-radius: 0 0 10px 0;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1000px) {
    .card{
        display:flex;
        align-items: center;
        justify-content: center;
        .article{
            grid-template-rows: 300px auto;
            grid-template-columns: repeat(2,500px);
            .article__body{
                .article__body__title{
                    font-size:1.5625rem;
                    line-height: 1.875rem;
                }
                .article__body__description{
                    font-size:25px;
                    font-size:20px;
                }
            }
            .article__user{
                .article__user__share{
                    .article__user__share__section__enabled{
                        bottom:100%;
                        left:auto;
                        top:auto;
                        right: -5rem;
                        z-index:999;
                        border-radius:0 ;
                        &::before{
                            content:" ";
                            background-color:transparent;
                            border-top:20px solid var(--color-five);
                            border-left:20px solid transparent;
                            border-right:20px solid transparent;
                            border-bottom:20px solid transparent;
                            position: absolute;
                            top:100%;
                            left:50%;
                        }
                        .article__user__share__section__social-media__icon__share{
                            display:none;
                        }
                    }
                }
            }
        }
    }
}