@import "../resources-sass/normalize";
body{
    font-family: roboto;
    background-color:#eee;
}
.header{
    background-image:url(../resources/images/crowdfunding/image-hero-mobile.jpg);
    background-size: 100%;
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
    height: 35vh;
    padding:1rem ;
    margin:0 0 15rem 0;
    .nav{
        color: white;
        .menu__icon{
            font-size:25px;
        }
        .menu{
            display:none;
            z-index:999;
            list-style: none;
            color:white;
            background-color:white;
            padding:0;
            margin:0;
            font-weight: 700;
            position: absolute;
            top:5rem;
            left:2rem;
            right:2rem;
            border-radius:5px;
            .menu__item{
                padding:1rem  0 1rem 1rem;
            }
            .menu__link{
                color:black;
                text-decoration: none;
            }
            #menu-item-discover{
                border:1px solid #eee;
            }
        }
        .menu__active{
            display:block;
        }
    }
    .modal-color{
        background-color:rgba(0, 0, 0, 0.377);
        position:fixed;
        top:0;
        left:0;
        right:0;
        height: 100vh;
        z-index:888;
        display:none;
    }
    .modal-color__active{
        display:block;
    }
    .mastercraft{
        padding:1rem 0;
        position: absolute;
        background-color:white;
        display:flex;
        flex-direction:column;
        align-items: center;
        top:70%;
        left:1rem;
        right:1rem;
        .mastercraft__title{
            text-align: center;
            font-size:19px;
            padding:0 1rem;
        }
        .matercraft__description{
            text-align: center;
        }
        .buttons{
            display:flex;
            align-items: center;
            
            .button__porject{
                background-color:#3bb4ab;
                text-decoration:none;
                color:white;
                display:inline-block;
                width: 160px;
                text-align: center;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius:20px;
                font-size:16px;
                margin:0 1rem 0 0;

            }
            .button__check__box{
                display:flex;
                align-items:center;
                .button__check{
                    background-color:black;       
                    width: 40px;
                    height: 40px;
                    color:white;
                    display:inline-block;
                    border-radius:100% ;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    margin:0 2px 0 0;
                }
                .button__check__desctiption{
                    display:none;
                }
            }
           
        }
    }
}
.totals{
    background-color:white;
    width: 90%;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    .total{
        .totals__item{
            height:100px;
        }
        .totals__diner{
            font-weight: 700;
            font-size:2rem;
            margin:0;
            padding:1rem 0 ;
            text-align: center;
        }
        .totals__diner__description{
            font-size:17px;
            color:#7d7d7d;
            text-align: center;
            margin:0;
        }
        #totals-item-two{
            border-top:1px solid #eee;
            border-bottom:1px solid #eee;
        }
    }
    .bar{
        width: 85%;
        height: 15px;
        background-color:#eee;
        border-radius: 20px;
        margin:0 0 1rem 0;
        .bar__color{
            background-color:#3bb4ab;
            height: 100%;
            width: 70%;
            border-radius: 20px;
        }
    }
}
.project{
    width: 90%;
    margin:auto;
    background-color:white ;
    .proyect__title{
        font-weight: 700;
        padding:1rem 0 0 1rem ;
    }
    .proyect__description{
        color:#c4c4c4;
        font-weight: 500;
        line-height: 20px;
        padding:0 0 0 1rem ;
    }
    .project__cards{
        display:grid;
        grid-template-rows: repeat(3,1fr);
        grid-gap:1rem;
        .project__card{
            border:1px solid #c4c4c4;
            width: 90%;
            margin:auto;
            border-radius: 10px;
            .proyect__card__title{
                font-weight: 700;
                margin:0;
                padding:1rem 0 0  1rem;
            }
            .card__title{
                color:#7d7d7d;
            }
            .proyect__card__price{
                color:#3bb4ab;
                font-weight: 500;
                margin:0;
                padding:1rem 0 0  1rem;
                
            }
            .card__price__disable{
                color:#3bb4ac44;
            }
            .proyect__card__description{
                color: #7d7d7d;
                font-weight: 500;
                padding:0 0 0  1rem;
                line-height: 25px;
            }
            .card__description{
                color: #7d7d7d65;
            }
            .proyect__card__number{
                font-weight: 700;
                font-size:2rem;
                margin:0;
                padding:0 0 1rem  1rem;
                display:flex;
                align-items: center;
            }
            .card-number{
                color: #7d7d7d5e;
            }
            .proyect__card__number-direction{
                font-weight: 500;
                color: #7d7d7d;
                font-size:1rem;
                margin:0;
                padding:0 0 0 1rem;
            }
            .number-direction__desable{
                color: #7d7d7d5e;
            }
            .proyect__card__button{
                background-color: #3bb4ab;
                text-decoration: none;
                color:white;
                display:inline-block;
                width: 70%;
                height: 45px;
                border-radius:20px;
                display:flex;
                justify-content: center;
                align-items:center;
                margin:0 0 1rem  1rem;
            }
            .card__button__disable{
                background-color: #c4c4c4;
            }
        }
        #proyect-card-three{
            margin-bottom:1rem;
        }
    }
}
@media screen and (min-width:1000px){
    .header{
        .nav{
            .menu__icon{
                display:none;
            }
            .menu{
                display: block;
                top:0;
                right:1rem;
                left:auto;
                width: auto;
                display: flex;
                background-color:transparent;
                .menu__item{
                    padding:1rem;
                }
                .menu__link{
                    text-align: center;
                    color:white;
                }
                #menu-item-discover{
                    border:none;
                }
            }
           
        }
    }
}
