@import "../resources-sass/normalize";
body{
    font-family: roboto;
    background-color:#eee;
}
.header{
    background-image:url(../resources/images/crowdfunding/image-hero-mobile.jpg);
    background-size: 100%;
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
    height: 35vh;
    padding:1rem ;
    margin:0 0 15rem 0;
    .nav{
        color: white;
        .menu__icon{
            font-size:25px;
        }
        .menu{
            display:none;
            z-index:999;
            list-style: none;
            color:white;
            background-color:white;
            padding:0;
            margin:0;
            font-weight: 700;
            position: absolute;
            top:5rem;
            left:2rem;
            right:2rem;
            border-radius:5px;
            .menu__item{
                padding:1rem  0 1rem 1rem;
            }
            .menu__link{
                color:black;
                text-decoration: none;
            }
            #menu-item-discover{
                border:1px solid #eee;
            }
        }
        .menu__active{
            display:block;
        }
    }
    .modal-color{
        background-color:rgba(0, 0, 0, 0.377);
        position:fixed;
        top:0;
        left:0;
        right:0;
        height: 100vh;
        z-index:888;
        display:none;
    }
    .modal-color__active{
        display:block;
    }
    .mastercraft{
        padding:1rem 0;
        position: absolute;
        background-color:white;
        display:flex;
        flex-direction:column;
        align-items: center;
        top:70%;
        left:1rem;
        right:1rem;
        .mastercraft__title{
            text-align: center;
            font-size:19px;
            padding:0 1rem;
        }
        .matercraft__description{
            text-align: center;
        }
        .buttons{
            display:flex;
            align-items: center;
            
            .button__porject{
                background-color:#3bb4ab;
                text-decoration:none;
                color:white;
                display:inline-block;
                width: 160px;
                text-align: center;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius:20px;
                font-size:16px;
                margin:0 1rem 0 0;

            }
            .button__check__box{
                display:flex;
                align-items:center;
                .button__check{
                    background-color:black;       
                    width: 40px;
                    height: 40px;
                    color:white;
                    display:inline-block;
                    border-radius:100% ;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    margin:0 2px 0 0;
                }
                .button__check__desctiption{
                    display:none;
                }
            }
           
        }
    }
}
