@import "../resources-sass/normalize";
:root{
    --color-one:#1c2230;
    --color-two:#21293c;
    --color-three:#0c1524;
    --color-four:#356a6f;
    --color-five:#8cdbe3;
}
body{
    background-color:var(--color-one);
    font-family:roboto;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem;
    .header__logo{
        width: 80px;
    }
    .nav{
        .menu{
            list-style: none;
            padding:0;
            margin:0;
            display: flex;
            .menu__item{
                padding:5px;
            }
            .menu__link{
                color:white;
                font-weight: 500;
                text-decoration: none;   
                font-size:10px; 
            }
        }
    }
}