@import "../resources-sass/normalize";
:root{
    --color-one:#1c2230;
    --color-two:#21293c;
    --color-three:#0c1524;
    --color-four:#356a6f;
    --color-five:#8cdbe3;
}
body{
    background-color:var(--color-one);
    font-family:roboto;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem;
    .header__logo{
        width: 80px;
    }
    .nav{
        .menu{
            list-style: none;
            padding:0;
            margin:0;
            display: flex;
            .menu__item{
                padding:5px;
            }
            .menu__link{
                color:white;
                font-weight: 500;
                text-decoration: none;   
                font-size:10px; 
            }
        }
    }
}
.main{
    .your__files{
        color:white;
        padding:1.125rem 0 0 0 ;
        display:flex;
        flex-direction: column;
        align-items: center;
        .your__files__image{
            width: 200px;
        }
        .your__files__title{
            text-align: center;
            font-weight: 700;
            line-height: 25px;
            font-size:18px;
        }
        .your__files__description{
            text-align: center;
            font-weight: 400;
            line-height: 25px;
            font-size:15px;
        }
    }
    .your__files__button{
        text-decoration: none;
        color:white;
        background-color:var(--color-four);
        width:150px;
        text-align: center;
        display:inline-block;
        height: 30px;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius:100px;
    }
}
.options{
    .options__option{
        display:grid;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color:white;
        padding:1rem 0;
        .option__title{
            font-weight: 700;
            font-size:17px;
            margin:0;
            padding:1rem 0;
        }
        .option__description{
            font-weight: 400;
            text-align: center;
            margin:0;
            padding:0 0 1rem 0;
        }
    }
}
.productive{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2rem 1rem 2rem 1rem;
    .productive__image{
        width: 200px;
    }
    .productive__information{
        color:white;
        .productive__title{
            font-size:16px;
            font-weight: 700;
            text-align:center;
        }
        .productive__description{
            text-align: start;
        }
        .productive__link{
            color:var(--color-five);
            text-decoration: none;
            position: relative;
            &::before{
                content: " ";
                background-color:var(--color-five);
                position: absolute;
                top:100%;
                width: 150px;
                height: 2px;
            }
        }
    }
}