@import "../resources-sass/normalize";
:root{
    --color-one:#1c2230;
    --color-two:#21293c;
    --color-three:#0c1524;
    --color-four:#356a6f;
    --color-five:#8cdbe3;
}
body{
    background-color:var(--color-one);
    font-family:roboto;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem;
    .header__logo{
        width: 80px;
    }
    .nav{
        .menu{
            list-style: none;
            padding:0;
            margin:0;
            display: flex;
            .menu__item{
                padding:5px;
            }
            .menu__link{
                color:white;
                font-weight: 500;
                text-decoration: none;   
                font-size:10px; 
            }
        }
    }
}
.main{
    .your__files{
        color:white;
        padding:1.125rem 0 0 0 ;
        display:flex;
        flex-direction: column;
        align-items: center;
        .your__files__image{
            width: 200px;
        }
        .your__files__title{
            text-align: center;
            font-weight: 700;
            line-height: 25px;
            font-size:18px;
        }
        .your__files__description{
            text-align: center;
            font-weight: 400;
            line-height: 25px;
            font-size:15px;
        }
    }
    .your__files__button{
        text-decoration: none;
        color:white;
        background-color:var(--color-four);
        width:150px;
        text-align: center;
        display:inline-block;
        height: 30px;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius:100px;
    }
}
.options{
    .options__option{
        display:grid;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color:white;
        padding:1rem 0;
        .option__title{
            font-weight: 700;
            font-size:17px;
            margin:0;
            padding:1rem 0;
        }
        .option__description{
            font-weight: 400;
            text-align: center;
            margin:0;
            padding:0 0 1rem 0;
        }
    }
}
.productive{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2rem 1rem 2rem 1rem;
    .productive__image{
        width: 200px;
    }
    .productive__information{
        color:white;
        .productive__title{
            font-size:16px;
            font-weight: 700;
            text-align:center;
        }
        .productive__description{
            text-align: start;
        }
        .productive__link{
            color:var(--color-five);
            text-decoration: none;
            position: relative;
            &::before{
                content: " ";
                background-color:var(--color-five);
                position: absolute;
                top:100%;
                width: 150px;
                height: 2px;
            }
        }
    }
}
.comments{
    display:flex;
    justify-content: center;
    display:grid;
    grid-template-columns:90%;
    grid-template-rows:repeat(3,1fr) ;
    row-gap: 1rem;
    padding:1rem 0 2rem 0;
    .comment{
        background-color: var(--color-two);
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:1rem 0;
        .comment__text{
            text-align: start;
            font-size:12px;
            padding:0 1rem;
        }
        .comment__user{
            display: flex;
            align-items: center;
            width: 86%;
            .comment__user__image{
                border-radius:100%;
                width: 50px;
                height: 50px;
            }
            .comment__user__data{
                padding:0 0 0 1rem;
                .comment__user__data__name{
                    font-weight: 500;
                    margin:0;
                }
                .comment__user__data__position{
                    margin:0;
                    font-weight: 400;
                    font-size:12px;
                    padding:1rem 0 0 0;
                }
            }
        }
    }    
    
}
.footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    padding:10rem 0 0 0;
    .email{
        background-color:var(--color-two);
        color:white;
        padding:2rem 0;
        width: 80%;
        box-shadow:0 0 30px  rgb(0,0,0.10);
        position: absolute;
        top:0;
        .email__title{
            text-align:center;
        }
        .email__description{
            text-align:center;

        }
        .form{
            display:flex;
            flex-direction: column;
            align-items: center;
            .input{
                width:80%;
                height: 40px;
                margin:1rem;
                border-radius:30px;
                border:none;
            }
            #send{
                background-color:var(--color-four);
                color:white;
                font-weight:500;
            }
        }
    }
    .footer__content{
        background-color:var(--color-three);
        color:white;
        padding:15rem 0 0 1rem;
        .footer__content__logo{
            width:80px;
        }
        .footer__content__contact{
            .menu__contact{
                padding:0;
                list-style:none;
                .menu__item__contact{
                    padding:1rem 1rem 1rem 0;
                }
                .menu__icon__contact{
                    padding:0 1rem 0 0 ;
                }
            }
        }
        .menu__options__aboutus{
            list-style:none;
            padding:0;
            .menu__options__item{
                padding:1rem 0;
            }
            .menu__options__link{
                color:white;
                text-decoration:none;
                &:hover{
                    color:rgb(255,255,255,.50);
                }
            }
        }
        .menu__options__contactus{
            list-style:none;
            padding:0;
            .menu__options__contact__item{
                padding:1rem 0;
            }
            .menu__options__contact__link{
                color:white;
                text-decoration:none;

            }
        }
        .social-media{
            .menu__social-media{
                padding:0;
                list-style: none;
                .menu__social-media__items{
                    padding:10px;
                    
                }
                .menu__social-media__link{
                    width: 40px;
                    height:40px;
                    display:inline-block;
                    border:2px solid var(--color-five);
                    color:var(--color-five);
                    font-size:25px;
                    border-radius: 50%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }
            }
        }
    }
}
@media screen and (min-width:768px){
   .header{
       padding:25px 1rem 0 1rem ;
       .header__logo{
           width: 120px;
        }
        .nav{
            .menu{
               .menu__item{
                   padding:0 1rem;
               }
               .menu__link{
                   font-size:20px;
               }
           }
       }
   }
   .main{
       .your__files{
           .your__files__image{
               width:400px;
           }
           .your__files__title{
               font-size:25px;
           }
           .your__files__description{
               font-size:20px;
               padding:0 1rem;
           }
           .your__files__button{
               width: 300px;
               height: 40px;
           }
       }
   }
   .options{
       padding:2rem 0;
       display:grid;
       grid-template-columns:repeat(2,1fr);
   }
   .productive{
       .productive__image{
           width:400px;
       }
       .productive__information{
           .productive__title{
               font-size:25px;
           }
           .productive__description{
               font-size:18px;
           }
           .productive__link{
               font-size:20px;
               &::before{
                   width:200px;
               }
           }
       }
   }
   .comments{
       grid-template-columns:repeat(2,350px);
       grid-template-rows:repeat(2,1fr);
       .comment{
        .comment__text{
            font-size:16px;
            line-height: 20px;
        }
        .comment__user{
            .comment__user__data{
                .comment__user__data__name{
                    font-size:20px;
                }
                .comment__user__data__position{
                    font-size:16px;
                }
            }
        }
       }
       grid-gap:1rem;
       #comment-three{
           grid-row:2/3;
           grid-column:1/3;
           display:flex;
           justify-content:center;
           align-items:center;
           #comment-text-three{
               text-align:center;
           }
       }
   }
}
@media screen and (min-width:1000px){
    .header{
        .nav{
            .menu{
                .menu__link{
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
    }
    .main{
        .your__files{
            .your__files__image{
                width:550px;
            }
            .your__files__title{
                font-size:35px;
            }
            .your__files__description{
                font-size:27px;
                padding:0 38px;
                line-height: 2rem;
            }
            .your__files__button{
                font-size:25px;
                font-weight: 500;
                height: 60px;
            }
        }
    }
    .options{
        padding:0 2rem;
        .options__option{
            .option__title{
                font-size:25px;
            }
            .option__description{
                font-size:20px;
            }
        }
    }
}