@import "../resources-sass/mixin";
@import "../resources-sass/normalize";
@import "../resources-sass/variables";
body{
    font-family:'Roboto',sans-serif;
    background: linear-gradient(to bottom, #af67e9, #6464e7);
    background-repeat: no-repeat;
    background-size: 100%;
}
.faq{
    position: relative;
    padding:7rem 1rem 1rem 1rem;
    border-radius:10px;
    .faq__image__box{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:0;
        margin:0;
        position: absolute;
        left:0;
        right:0;
        top:0;
        .faq__image{
            margin:0 0 0 -30px;
        }
        .faq__image__two{
            position: absolute;
            top:50%;
            margin:0;
        }
        .faq__image__cube{
            display:none;
            // position:absolute;
            left:0;
        }
    }
    .faq-list{
        background-color:white;
        border-radius:10px;
        padding:7rem 1rem 1rem 1rem ;
        .faq-list__title{
            text-align: center;
            font-weight: 700;
            font-size:2rem;
            margin:0;
            padding:0;
            letter-spacing:4px;
        }
        .faq-list__list__item{
            position: relative;
            background-color:none;
            border:1px solid #eee;
            border-left:none;
            border-right:none;
            padding:0;
            &:nth-child(2){
                border-top:none;
                .faq-list__list__itme__icon{
                    top:0;
                }
            }    
            &:nth-child(6){
                border-bottom:none;
            }
            .faq-list__list__item__title{
                color:#2b2b36;
                font-size:1rem;
                font-weight: 500;
            }
            .faq-list__list__item__description{
                display:none;
            }
            .faq-list__list__item__description__enabled{
                display:block;
                color:#2b2b36;
            }
            .faq-list__list__itme__icon{
                position: absolute;
                top:1rem;
                right:0;
                cursor:pointer;
            }
            .faq-list__list__itme__icon__click{
                transform: rotate(180deg);

            }
        }
    }
}
@media screen and (min-width:1000px){
    .faq{
        height: 100vh;
        padding:0 0 0 0;
        display:flex;
        justify-content: center;
        align-content: center;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 90vh;
        padding:0 4rem 0 4rem;
        position: relative;
        .faq__image__box{
            position: relative;
            background-color:white;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            .faq__image{
                position: absolute;
                left:-10px;
                z-index:800;
            }
            .faq__image__two{
                position: absolute;
                left:-10%;
                top:5%;
                width: 100%;
            }
            
        }
        .faq-list{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color:white;
            padding-top:0;
            display:flex;
            flex-direction: column;
            justify-content: center;
            .faq-list__title{
                text-align: start;
            }
        }
    }
    .faq__image__cube{
        animation-name:cube-float;
        animation-duration:3s ;
        animation-iteration-count: infinite;
        animation-timing-function: alternate ;
        display:block;
        position: absolute;
        left:-10px;
        top:40%;
        z-index:999;
    }
    @keyframes cube-float {
        0%{
            top:30%;
        }
        50%{
            top:40%;
        }
        100%{
            top:30%;
        }
    }
    
}