@import "../resources-sass/mixin";
@import "../resources-sass/normalize";
@import "../resources-sass/variables";
body{
    font-family:'Roboto',sans-serif;
}
:root{
    --color-one:#f1f5fe;
    --color-tw:#11d8c5;
    --color-three:#2d3758;
    --color-four:#f2b098;
    --color-five:#fdede8;
    --color-sixe:#c3c8d2;

}