@import "../resources-sass/mixin";
@import "../resources-sass/normalize";
@import "../resources-sass/variables";
body{
    font-family: 'Roboto', sans-serif
}
@include header;
@include dark-mode-header;
main{
    .recursos__title{
        font-weight: 700;
        text-align: center;
        font-size:35px;
    }
}