@import "../resources-sass/mixin";
@import "../resources-sass/normalize";
@import "../resources-sass/variables";
body{
    font-family: 'Roboto', sans-serif
}
@include header;
@include dark-mode-header;
main{
    display:grid;
    grid-gap:1rem;
    padding:0 0 6rem 0;
    .recursos__title{
        font-weight: 700;
        text-align: center;
        font-size:35px;
    }
    .recurso{
        display:flex;
        flex-direction: column;
        align-items: center;
        .recurso__image{
            width:100px;
        }
        .recuros__title{
            color:black;
            text-decoration: none;
            margin:1rem 0;
        }
    }
}
@media screen and (min-width:552px){

    main{
        .recursos__cards{
            display:grid;
            grid-template-columns:repeat(3,1fr);
            .recurso{
                .recuros__title{
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (min-width:1000px){
    main{
        .recursos__cards{
            grid-template-columns:repeat(4,1fr);
            padding:0 3rem;
        }
    }
}