@import "../resources-sass/mixin";
@import "../resources-sass/variables";
@import "../resources-sass/normalize";
body{
    font-family: 'Roboto', sans-serif
}
@include header;

main{
    padding:0 0 7rem 0;
    display:grid;
    grid-gap:1rem;
    .card{
        display:flex;
        align-items: center;
        justify-items: center;
        display:grid;
        grid-gap:1rem;
        .card__image{
            width:200px;
        }
        .card__text{
            .card__text__title{
                text-align:center;
                font-weight:700;
                font-size:30px;
            }
            .card__text__description{
                text-align: center;
                padding:0 1rem;
                line-height:25px;
            }
        }
        #card-image-acerca{
            grid-row:2/3;
        }
        #card-text-acerca{
            grid-row:1/2;
        }
        .intereses{
            list-style: none;
            padding:0 10px ;
            margin:0;
            text-align: center;
            .intereses__title{
                font-weight: 700;
                width: 100%;
                display:inline-block;
                padding:1rem 0;
            }
        }
    }
}
@include dark-mode-index;
@mixin dark-mode-sobre {
    main{
        .card{
            .card__text__dark{
                color:white;
            }
        }
    }
}
@include dark-mode-sobre;
@media screen and (min-width:560px){
    main{
        .card{
            .card__image{
                width:270px;
            }
        }
    }
    @include dark-mode-index;
}
@media screen and (min-width:1000px) {
    main{
        display:flex;
        justify-content: center;
        display:grid;
        padding:0;
        .card{
            grid-template-columns: 480px 400px;
            .card__image{
                width:400px;
            }
            .card__text{
                .card__text__title{
                    font-size:45px;
                }
                .card__text__description{
                    font-size:20px;
                }
            }
            #card-image-acerca{
                grid-row:1/2;
                grid-column:1/2;
            }
            #card-text-acerca{
                grid-column:2/3;
            }
            .intereses{
                text-align:start;
                font-size:20px;
                .intereses__item{
                    display:flex;
                    align-items: center;
                    display:grid;
                    grid-template-columns:150px 1fr;
                    grid-template-rows:repeat(3,30px);
                }
                .intereses__title{
                    display:inline;
                    text-align:start;
                }
            }
        }
    } 
    @include dark-mode-index;
}