@import "../resources-sass/normalize";
@import "../resources-sass/mixin";
:root{
    --color-light-one:#f8f9fe;
    --color-light-two:#f0f3fa;
    --color-light-three:#6b6d82;
    --color-dark-one:#1d2029;
    --color-dark-two:#252b43;
    --color-dark-three:#333a56;
    --color-number:#3dc9ad;
    --color-gradient-one:linear-gradient(to right, #e96443, #904e95);
    --color-gradient-two:linear-gradient(to right, #159957, #155799);
}
body{
    font-family:roboto;
    background-color:var(--color-light-one);
}
.header{
    padding: 1rem ;
    .titles{
        border-bottom:2px solid #c4c4c4;
        .header__title{
            font-weight: 700;
            margin:0;
            font-size:18px;
        }
        .header__followers{
            color:var(--color-light-three);
            font-weight: 700;
            font-size:13px;
            .header__followers-number{
                padding: 0 0 0 1rem;
            }
        }
    }
    .buttons{
        display:flex;
        align-items: center;
        justify-content: space-between;
        .buttons__title{
            font-weight: 700;
            color:var(--color-light-three);
        }
        .button{
            background-color:#6b6d828e;
            width: 55px;
            height: 25px;
            border-radius:20px;
            display:flex;
            align-items: center;
            position: relative;

            .button__circle{
                background-color:white;
                width: 20px;
                height: 20px;
                border-radius:50%;
                position: absolute;
                right:5px;
            }
        }
    }
}
.main{
    .social-media__followers{
        padding: 0 1rem;
        display:grid;
        row-gap:1rem;
        .social-media__card{
            background-color: var(--color-light-two);
            display:flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding:20px 0;
            &::before{
                content: " ";
                width: 100%;
                height:5px;
                border-top-left-radius:5px;
                border-top-right-radius:5px;
                background-color: #178ffa;
                position: absolute;
                top:0;
            }
            .social-media__card__header{
                display:flex;
                align-items: center;
                .social-media__card__header__name{
                    color:#7d7d7d;
                    font-weight: 700;
                    padding: 0 10px;
                }
            }
            .social-media__card__followers__number{
                font-weight: 700;
                font-size:65px;
                margin:0;
            }
            .social-media__card__followers__title{
                color:var(--color-light-three);
                letter-spacing: 8px;
                text-transform: uppercase;
            }
            .social-media__card__followers__plus{
                display:flex;
                align-items: center;
                color:var(--color-number);
                font-weight: 700;
                .social-media__card__followers__plus__icon{
                    padding:0 1rem;
                }

            }
        }
        #social-media-card-three::before{
            background:var(--color-gradient-one);
        }
        #social-media-card-four::before{
            background:#c4032b;
        }
        #social-media-card-four{
            .social-media__card__followers__plus{
                color:#c4032b;
            }
        }
    }
}
.overview{
    padding:0 1rem;
    .overview__title{
        font-weight: 700;
        color:var(--color-light-three);
        font-size:20px;
    }
    .overview__cards{
        display:grid;
        row-gap:1rem;
        .overview__cards__card{
            display:grid;
            row-gap: 1rem;
            .overview__cards__card__data{
                background-color:var(--color-light-two);
                display:flex;
                justify-content: space-between;
                // align-items: center;
                padding:1rem 2rem;
                height: 15vh;
                .overview__cards__card__data__views{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .overview__cards__card__data__views__title{
                        color:var(--color-light-three);
                        font-weight: 700;
                        margin:0;
                    }
                    .overview__cards__card__data__views__number{
                        font-weight: 700;
                        font-size:25px;
                        margin:0;
                        padding:0;
                    }

                }
                .overview__cards__card__social-media__counter{
                    display:flex;
                    flex-direction: column;
                    align-items:center;
                    justify-content: space-between;
                    .overview__cards__card__social-media__counter__number{
                        color:var(--color-number);
                        display:flex;
                        align-items:center;
                        margin:0;
                        justify-content: center;
                        .overview__cards__card__social-media__counter__number__porcent{
                            margin:0;
                            padding:0;
                        }
                        .overview__cars__card__social-media__counter__number__icon{
                            padding:0 5px;
                        }
                    }
                    .counter-down{
                        color:#c4032b;
                    }
                }
                .overview__cards__card__data__likes{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .overview__cards__card__data__likes__title{
                        color:var(--color-light-three);
                        font-weight: 700;
                        margin:0;
                    }
                    .overview__cards__card__data__likes__number{
                        font-weight: 700;
                        font-size:25px;
                        margin:0;
                    }
                }
            }
        }
    }
}
@mixin dark-mode {
    .body__dark{
        background-color:var(--color-dark-one);
    }
    .header{
        .titles__dark{
            color:white;
            .header__followers__dark{
                color:var(--color-light-three);
            }
        }
        .buttons{
            .button__dark{
                background:var(--color-gradient-two);
                .button__circle__dark{
                    background: var(--color-dark-three);
                    left:5px;
                    right: auto;
                }
            }
        }
    }
    .main{
        .social-media__followers{
            .social-media__card__dark{
                background-color:var(--color-dark-two);
                color:white;
                &:hover{
                    background-color:#333a56;
                }
                .social-media__card__followers__plus__description__dark{
                    color:white;
                }
            }
        }
    }
    .overview{
        .overview__title__dark{
            color:white;
        }
        .overview__cards{
            .overview__cards__card{
                .overview__cards__card__data__dark{
                    background-color: #252b43;
                    .overview__cards__card__data__views{
                        .overview__cards__card__data__views__number__dark{
                            color:white;
                        }
                    }
                    .overview__cards__card__data__likes{
                        .overview__cards__card__data__likes__number__dark{
                            color:white;
                        }
                    }
                }
            }
        }
    }
}

@include dark-mode;
@include phoenix;
@media screen and (min-width:500px){
    .overview{
        .overview__cards{
            .overview__cards__card{
                display:grid;
                grid-template-columns:repeat(2,1fr);
                grid-gap:1rem;
            }
        }
    }
    @include dark-mode;
}
@media screen and (min-width:1000px){
    .header{
        display:flex;
        justify-content: space-between;
        padding:1rem 2rem;
        .titles{
            border:none;
            .header__title{
                font-size:30px;
            }
            .header__followers{
                font-size:20px;
            }
        }
        .buttons{
            .buttons__title{
                padding: 0 1rem;
            }
        }
    }
    .main{
        .social-media__followers{
            display:grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap:2rem;
            padding:0 2rem;
            .social-media__card{
                &:hover{
                    background-color:#e1e3f0;
                    cursor: pointer;
                }
            }
        }
    }
    .overview{
        padding:0 2rem 1rem 2rem;
        .overview__cards{
            grid-template-columns: repeat(2,1fr);
            grid-gap:1rem;
        }
    }
    @include dark-mode;
}