@import "../resources-sass/normalize";
@import "../resources-sass/mixin";
:root{
    --color-light-one:#f0f3fa;
    --color-light-two:#e1e3f0;
    --color-light-three:#6b6d82;
    --color-dark-one:#1d2029;
    --color-dark-two:#252b43;
    --color-dark-three:#333a56;
    --color-gradient-one:linear-gradient(to right, #c31432, #240b36);
    --color-gradient-two:linear-gradient(to right, #159957, #155799);
}