@import "../resources-sass/normalize";
@import "../resources-sass/variables";
body{
    font-family: roboto;
}
.header{
    background-color: #eee;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
    .header__title{
        margin:0;
    }
    .nav{
        .menu{
            list-style: none;
            display: flex;
            margin:0;
            padding:0;
            .menu__item{
                padding:1rem;
            }
            .menu__link{
                text-decoration: none;
                color:black;
                font-weight: 500;
            }
        }
    }
}